.container{
  display: flex;
}
.first{
  flex:1;
}
.second{
flex: 1;
display: flex;
flex-direction: column;
}
.second-a{
flex:1;
background-color: aqua;
}
.second-b{
  flex:1;
  background-color: aquamarine;
}